{% extends 'AdventureBundle:Emails:layout.html.twig' %}

{% block title %}
    #{{ request.id }}&nbsp;{% trans %}resignationFromReceivingOvertime{% endtrans %}
{% endblock %}

{% block body %}
    <div>
        <h3>#{{ request.id }}&nbsp;{% trans %}resignationFromReceivingOvertime{% endtrans %}</h3>

        <p>
            <b>{% trans %}applicant{% endtrans %}:&nbsp;{{ request.manager.name }}&nbsp;{{ request.manager.lastName }} </b><br>
            {% trans %}dateOfSubmission{% endtrans %}:&nbsp;{{ request.updatedAt|date("Y-m-d H:i:s") }}<br>
        </p>
        <p>
            <b>{% trans %}resignationFromDays{% endtrans %}:</b><br>
            {% include 'AdventureBundle:Emails:leave_day_types.html.twig' with {'request': request} %}
        </p>
        {% if request.comment %}
            <p><b>{% trans %}comments{% endtrans %}:</b> {{ request.comment }}</p>
        {% endif %}
        <p>{% trans %}goToTheApplicationToCheckTheStatusOfYourDaysOff{% endtrans %}.</p>
    </div>
    <div style="margin-top: 20px;">
        <a href="{{ frontend_app_url }}/#/free-days/{{ request.employee.id }}" class="button button-big">{% trans %}goToDaysOff{% endtrans %}</a>
    </div>
{% endblock %}